{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block bodyMain %}
<h1>Welcome to the Login:login page</h1>
    <div>
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors.messageKey }}
        </div>
    {% endif %}

        <form action="{{ path('login') }}" method="post">
            <label for="username">Username</label>
            <br>
            <input type="text" name="_username" id="username" value="{{ username }}">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="text" name="_password" id="password">
            <br>

            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
{% endblock %}
