{% extends 'base.html.twig' %}

{% block bodyMain %}
<h3>Details:</h3>
    <br>
    Username: {{ username }}<br>
    Email:  {{ email }}<br>
    No of Todos:  {{ todoCount }}<br>
{% endblock %}

{% block stylesheets %}
<style></style>
{% endblock %}
