{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block bodyMain %}
<h1>Register:</h1>

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
